<div class="productocore">
  <div class="productocore__datosbasicos">
    <div class="productocore__datosbasicos__icon"> <i class="fa fa-product-hunt fa-4x" aria-hidden="true"></i> </div>
    <div class="productocore__datosbasicos__col">
      <div class="productocore__datosbasicos__col__registro">
        <div class="productocore__datosbasicos__col__registro__lbl">
            Nombre:
        </div>
        <div class="productocore__datosbasicos__col__registro__campo">
            <input type="text" name="nombre" [(ngModel)]="producto.nombre">
        </div>
      </div>
      <div class="productocore__datosbasicos__col__registro">
          <div class="productocore__datosbasicos__col__registro__lbl">
              Marca:
          </div>
          <div class="productocore__datosbasicos__col__registro__campo">
              <input type="text" name="marca" [(ngModel)]="producto.marca">
          </div>
      </div>
      <div class="productocore__datosbasicos__col__registro">
          <div class="productocore__datosbasicos__col__registro__lbl">
              Registro Sanitario:
          </div>
          <div class="productocore__datosbasicos__col__registro__campo">
              <input type="text" name="registro" [(ngModel)]="producto.registro">
          </div>
      </div>
    </div>
    <div class="productocore__datosbasicos__col">
        <div class="productocore__datosbasicos__col__registro">
            <div class="productocore__datosbasicos__col__registro__lbl">
                Lote:
            </div>
            <div class="productocore__datosbasicos__col__registro__campo">
                <input type="text" name="lote" [(ngModel)]="producto.lote">
            </div>
        </div>
        <div class="productocore__datosbasicos__col__registro">
            <div class="productocore__datosbasicos__col__registro__lbl">
                Fecha Produccion:
            </div>
            <div class="productocore__datosbasicos__col__registro__campo">
                <input type="date" name='fechaProduccion' [(ngModel)]="producto.fechaProduccion">
            </div>
        </div>
        <div class="productocore__datosbasicos__col__registro">
            <div class="productocore__datosbasicos__col__registro__lbl">
                Apta de Consumo:
            </div>
            <div class="productocore__datosbasicos__col__registro__campo">
                <input type="date" name='fechaAdtaConsumo' [(ngModel)]="producto.fechaAdtaConsumo">
            </div>
        </div>
    </div>
    <div class="productocore__datosbasicos__col">
        <div class="productocore__datosbasicos__col__registro">
            <div class="productocore__datosbasicos__col__registro__lbl">
                Vencimiento:
            </div>
            <div class="productocore__datosbasicos__col__registro__campo">
                <input type="date" name='fechaVencimiento' [(ngModel)]="producto.fechaVencimiento">
            </div>
        </div>
        <div class="productocore__datosbasicos__col__registro">
            <div class="productocore__datosbasicos__col__registro__lbl">
                Unidad de medida:
            </div>
            <div class="productocore__datosbasicos__col__registro__campo">
                <input type="text" name="unidadMedida" [(ngModel)]="producto.unidadMedida">
            </div>
        </div>
        <div class="productocore__datosbasicos__col__registro">
            <div class="productocore__datosbasicos__col__registro__lbl">
                Volumen:
            </div>
            <div class="productocore__datosbasicos__col__registro__campo">
                <input type="text" name="volumen" [(ngModel)]="producto.volumen">
            </div>
        </div>
    </div>
  </div>
  <div class="productocore__data">
      <div class="productocore__data__cabecera">
        <div (click)="showTab(0)" [ngClass]="{'productocore__data__cabecera__opcion': !tabs[0], 'productocore__data__cabecera__opcionseleccion': tabs[0][0]}">Caracteristicas</div>
        <div (click)="showTab(1)" [ngClass]="{'productocore__data__cabecera__opcion': !tabs[0], 'productocore__data__cabecera__opcionseleccion': tabs[0][1]}">Ingredientes</div>
        <div (click)="showTab(2)" [ngClass]="{'productocore__data__cabecera__opcion': !tabs[0], 'productocore__data__cabecera__opcionseleccion': tabs[0][2]}">Informacion Nutricional</div>
      </div>
      <div class="productocore__data__contenido" *ngIf="tabs[0][0]">
          <div class="productocore__data__contenido__col">
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Presentacion:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="presentacion" [(ngModel)]="caracteristicas.presentacion">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Contenido neto:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="contenidoNeto" [(ngModel)]="caracteristicas.contenidoNeto">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Tipo de tratamiento:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="tipoTratamiento" [(ngModel)]="caracteristicas.tipoTratamiento">
                  </div>
              </div>
          </div>

          <div class="productocore__data__contenido__col">
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Nombre del fabricante:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="fabricante" [(ngModel)]="caracteristicas.fabricante">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Direccion del Fabricante:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="direccionFabricante" [(ngModel)]="caracteristicas.direccionFabricante">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Distribuidor:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <select name="distribuidor" [(ngModel)]="caracteristicas.distribuidor">
                          <option value="0">Seleccione un Distribuidor</option>
                          <option *ngFor="let distribuidor of distribuidores" (value)="distribuidor">{{distribuidor.nombre}}</option>
                      </select>
                  </div>
              </div>
            </div>
      </div>
      <div class="productocore__data__contenido" *ngIf="tabs[0][1]">
          <div class="productocore__data__contenido__col">
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Clase:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="clase" [(ngModel)]="ingrediente.clase">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Nombre:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="nombre" [(ngModel)]="ingrediente.nombre">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      &nbsp;
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <button (click)="agregarIngrediente()"> <i class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
                  </div>
              </div>
          </div>

          <div class="productocore__data__contenido__coltabla">
              <table>
                  <tr>
                      <th>Clase</th>
                      <th>Nombre</th>
                      <th>Opciones</th>
                  </tr>
                  <tr *ngFor="let ing of ingredientes; let i = index">
                    <td>{{ing.clase}}</td>
                    <td>{{ing.nombre}}</td>
                    <td><i class="fa fa-times fa-2x" aria-hidden="true" (click)="quitarIngrediente(ing)"></i> </td>
                  </tr>
                </table>
          </div>
      </div>

      <div class="productocore__data__contenido" *ngIf="tabs[0][2]">
          <div class="productocore__data__contenido__col">
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Calorias Totales:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="caloriasTotales" [(ngModel)]="nutricion.caloriasTotales">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Calorias de grasas:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="caloreiasGrasas" [(ngModel)]="nutricion.caloreiasGrasas">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Proteinas:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="proteinas" [(ngModel)]="nutricion.proteinas">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Grasa total:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="grasaTotal" [(ngModel)]="nutricion.grasaTotal">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Grasa saturada:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="grasaSaturada" [(ngModel)]="nutricion.grasaSaturada">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Carbohidratos totales:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="carbohidratosTotatles" [(ngModel)]="nutricion.carbohidratosTotatles">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Fibra dietaria:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="fibraDietaria" [(ngModel)]="nutricion.fibraDietaria">
                  </div>
              </div>
          </div>

          <div class="productocore__data__contenido__col">
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Colesterol:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="colesterol" [(ngModel)]="nutricion.colesterol">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Sodio:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="sodio" [(ngModel)]="nutricion.sodio">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Grasas Trans:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="grasaTrans" [(ngModel)]="nutricion.grasaTrans">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Azucares:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="azucares" [(ngModel)]="nutricion.azucares">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Vitamina A:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="vitaminaA" [(ngModel)]="nutricion.vitaminaA">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Vitamina C:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="vitaminaC" [(ngModel)]="nutricion.vitaminaC">
                  </div>
              </div>
              <div class="productocore__data__contenido__col__registro">
                  <div class="productocore__data__contenido__col__registro__lbl">
                      Hierro:
                  </div>
                  <div class="productocore__data__contenido__col__registro__campo">
                      <input type="text" name="hierro" [(ngModel)]="nutricion.hierro">
                  </div>
              </div>
            </div>
            <div class="productocore__data__contenido__col">
                <div class="productocore__data__contenido__col__registro">
                    <div class="productocore__data__contenido__col__registro__lbl">
                        Calcio:
                    </div>
                    <div class="productocore__data__contenido__col__registro__campo">
                        <input type="text" name="calcio" [(ngModel)]="nutricion.calcio">
                    </div>
                </div>
                <div class="productocore__data__contenido__col__registro">
                    <div class="productocore__data__contenido__col__registro__lbl">
                        Declaracion de Propiedades de Salud:
                    </div>
                    <div class="productocore__data__contenido__col__registro__campo">
                        <input type="text" name="declaracion" [(ngModel)]="nutricion.declaracion">
                    </div>
                </div>
            </div>
      </div>

      <div class="productocore__data__botones">
          <button (click)="guardar()"><i class="fa fa-save fa-2x" aria-hidden="true"></i> Guardar</button>
      </div>
  </div>
</div>
