<div class="lista">
  
    <div class="lista__content">
        <div class="lista__content__busqueda">
            Buscar: <input type="text" name="buscarText"  [(ngModel)]="buscarText" (keyup)="buscar()">
            <button [routerLink]="['/newDistribuidorCore']" ><i class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
          </div>
        <table>
            <tr>
                <th>Nit</th>
                <th>Nombre</th>
                <th>Opciones</th>
            </tr>
            <tr *ngFor="let distri of distribuidor">
                <td>{{distri.codigo}}</td>
                <td>{{distri.nombre}}</td>
                <td>
                  <i [routerLink]="['/editdistribuidorCore', distri.id]"  class="fa fa-pencil fa-2x" aria-hidden="true"></i>  
                </td>
              </tr>
          </table>
    </div>
  
  </div>
  