<div class="usuario">
  <div class="usuario__content">
    <div class="usuario__content__head">
      Datos de Usuario 
    </div>
    <div class="usuario__content__body">
      Nombres
      <input type="text" [(ngModel)]="cliente.nombre" name="nombre"> <br/>
      Email
      <input type="text" [(ngModel)]="cliente.email" name="email"><br/>
      Telefono
      <input type="text" [(ngModel)]="cliente.telefono" name="telefono"><br/><br/>
    </div>
    <div class="usuario__content__footer">
      <i class="fa fa-save" aria-hidden="true"></i>&nbsp;Guardar
    </div>

  </div>
</div>
