<div class="producto">
    


  <div class="producto__primero">
    <div class="producto__primero__header">
        <h2>Nombre del produto</h2>
    </div>
    <div class="producto__primero__body">
      
      <div class="producto__primero__body__content">
        <div class="producto__primero__body__content__left">
          Marca 
        </div>  
        <div class="producto__primero__body__content__right">
          Reg Sanitario 
        </div>
      </div>  
    </div>
  </div>

  <div class="producto__tercero">
    <div class="producto__tercero__header">
        <h2>Caracteristicas</h2>
    </div>
    <div class="producto__tercero__body">
        Presentacion: <br/>
        Presentacion Producto<br/><br/>
        Contenido Neto: <br/>
        123 gr <br/><br/>
        Tipo Tratamiento: <br/>
        NA <br/><br/>
        Fabricante: <br/>
        Fabricante 1 <br/><br/>
        Direccion: <br/>
        Direccion 
    </div>
  </div>

  <div class="producto__segundo">
    <div class="producto__segundo__header">
        <h2>Ingredientes</h2>
    </div>
    <div class="producto__segundo__body">
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
        <div class="producto__segundo__body__ingrediente">
          Ingrediente
        </div>
    </div>
  </div>
  
  <div class="producto__cuarto">
      <div class="producto__cuarto__titulo">
          Información Nutricional
      </div>     
      <div class="producto__cuarto__titulo__2">
        Porciones: 
      </div>
      <div class="producto__cuarto__barratitulo">&nbsp;</div>
      <div class="producto__cuarto__registro">Calorias:</div>
      <div class="producto__cuarto__barratitulo2">&nbsp;</div>
      <div class="producto__cuarto__registror">% de valor diario*</div>
      <div class="producto__cuarto__registro">Calorias Grasa:</div>
      <div class="producto__cuarto__registro">Proteinas:</div>
      <div class="producto__cuarto__registro">Grasa Total:</div>
      <div class="producto__cuarto__registro">Grasa Saturada:</div>
      <div class="producto__cuarto__registro">Carbohidratos Totales:</div>
      <div class="producto__cuarto__registro">Fibra dietaria:</div>
      <div class="producto__cuarto__registro">Colesterol:</div>
      <div class="producto__cuarto__registro">Sodio:</div>
      <div class="producto__cuarto__registro">Grasas Trans:</div>
      <div class="producto__cuarto__registro">Azucares:</div>
      <div class="producto__cuarto__registro">Vitamina A:</div>
      <div class="producto__cuarto__registro">Vitamina C:</div>
      <div class="producto__cuarto__registro">Hierro:</div>
      <div class="producto__cuarto__registro">Calcio:</div>
      <div class="producto__cuarto__barratitulo">&nbsp;</div>
      <div class="producto__cuarto__registro">Declaracion de Propiedades de Salud:</div>
      <div class="producto__cuarto__footer">*Los porcentajes de valores diarios se basan en una dieta de 2.000 calorias</div>
  </div>
</div>