<div class="producto">
    


  <div class="producto__primero">
    <div class="producto__primero__header">
        <h2>{{producto.nombre.toUpperCase()}}</h2>
    </div>
    <div class="producto__primero__body">
      
      <div class="producto__primero__body__content">
        <div class="producto__primero__body__content__left">
            {{producto.marca.toUpperCase()}}
        </div>  
        <div class="producto__primero__body__content__right">
            {{producto.registro.toUpperCase()}} 
        </div>
      </div>  
    </div>
  </div>

  <div class="producto__tercero">
    <div class="producto__tercero__header">
        <h2>Caracteristicas</h2>
    </div>
    <div class="producto__tercero__body">
        Presentacion: <br/>
        {{producto.caracteristicas.presentacion.toUpperCase()}}<br/><br/>
        Contenido Neto: <br/>
        {{producto.contenidoNeto.toUpperCase()}} <br/><br/>
        Tipo Tratamiento: <br/>
        {{producto.caracteristicas.tipoTratamiento.toUpperCase()}} <br/><br/>
        Fabricante: <br/>
        {{producto.caracteristicas.fabricante.toUpperCase()}} <br/><br/>
        Direccion Fabricante: <br/>
        {{producto.caracteristicas.direccionFabricante.toUpperCase()}} 
    </div>
  </div>

  <div class="producto__segundo">
    <div class="producto__segundo__header">
        <h2>Ingredientes</h2>
    </div>
    <div class="producto__segundo__body">
        <div class="producto__segundo__body__ingrediente" *ngFor="let ingrediente of producto.ingredientes">
          {{ingrediente.clase.toUpperCase()}} - {{ingrediente.nombre.toUpperCase()}}
        </div>
    </div>
  </div>
  
  <div class="producto__cuarto">
      <div class="producto__cuarto__titulo">
          Información Nutricional
      </div>     
      <div class="producto__cuarto__barratitulo">&nbsp;</div>
      <div class="producto__cuarto__registro">Calorias: {{producto.infoNutricional.caloriasTotales.toUpperCase()}}</div>
      <div class="producto__cuarto__barratitulo2">&nbsp;</div>
      <div class="producto__cuarto__registror">% de valor diario*</div>
      <div class="producto__cuarto__registro">Calorias Grasa: {{producto.infoNutricional.caloreiasGrasas.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Proteinas: {{producto.infoNutricional.proteinas.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Grasa Total: {{producto.infoNutricional.grasaTotal.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Grasa Saturada: {{producto.infoNutricional.grasaSaturada.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Carbohidratos Totales: {{producto.infoNutricional.carbohidratosTotatles.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Fibra dietaria: {{producto.infoNutricional.fibraDietaria.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Colesterol: {{producto.infoNutricional.colesterol.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Sodio: {{producto.infoNutricional.sodio.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Grasas Trans: {{producto.infoNutricional.grasaTrans.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Azucares: {{producto.infoNutricional.azucares.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Vitamina A: {{producto.infoNutricional.vitaminaA.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Vitamina C: {{producto.infoNutricional.vitaminaC.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Hierro: {{producto.infoNutricional.hierro.toUpperCase()}}</div>
      <div class="producto__cuarto__registro">Calcio: {{producto.infoNutricional.calcio.toUpperCase()}}</div>
      <div class="producto__cuarto__barratitulo">&nbsp;</div>
      <div class="producto__cuarto__registro">Declaracion de Propiedades de Salud: {{producto.infoNutricional.declaracion.toUpperCase()}}</div>
      <!--<div class="producto__cuarto__footer">*Los porcentajes de valores diarios se basan en una dieta de 2.000 calorias</div>-->
  </div>
</div>