<div class="codigocore">
  <div class="codigocore__datosbasicos">
        <div class="codigocore__datosbasicos__icon"> <i class="fa fa-qrcode fa-4x" aria-hidden="true"></i> </div>
        <div class="codigocore__datosbasicos__col">
          <div class="codigocore__datosbasicos__col__registro">
            <div class="codigocore__datosbasicos__col__registro__lbl">
                Producto:
            </div>
            <div class="codigocore__datosbasicos__col__registro__campo">
                <input type="text">
            </div>
          </div>
        </div>
        <div class="codigocore__datosbasicos__col">
          <div class="codigocore__datosbasicos__col__registro">
            <div class="codigocore__datosbasicos__col__registro__lbl">
                Cantidad:
            </div>
            <div class="codigocore__datosbasicos__col__registro__campo">
                <input type="number">
            </div>
          </div>
        </div>
        <div class="codigocore__datosbasicos__col">
          <div class="codigocore__datosbasicos__col__registro">
            <div class="codigocore__datosbasicos__col__registro__lbl">
                &nbsp;
            </div>
            <div class="codigocore__datosbasicos__col__registro__campo">
                <button><i class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
            </div>
          </div>
        </div>
    </div>
  <div class="codigocore__tabla">
        <table>
                <tr>
                    <th>Producto</th>
                    <th>Cnatidad</th>
                    <th>Opciones</th>
                </tr>
                <tr>
                  <td>Producto 1</td>
                  <td>Cantidad 1</td>
                  <td>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i> 
                  </td>
                </tr>
              </table>
  </div>

</div>
