<div class="empresacore">
    <div class="empresacore__datosbasicos">
        <div class="empresacore__datosbasicos__icon"> <i class="fa fa-building fa-4x" aria-hidden="true"></i> </div>
        <div class="empresacore__datosbasicos__col">
          <div class="empresacore__datosbasicos__col__registro">
            <div class="empresacore__datosbasicos__col__registro__lbl">
                Nombre:
            </div>
            <div class="empresacore__datosbasicos__col__registro__campo">
                <input type="text" name="nombre" [(ngModel)]="empresa.nombre">
            </div>
          </div>
          <div class="empresacore__datosbasicos__col__registro">
              <div class="empresacore__datosbasicos__col__registro__lbl">
                  Direccion:
              </div>
              <div class="empresacore__datosbasicos__col__registro__campo">
                  <input type="text" name="direccion" [(ngModel)]="empresa.direccion" >
              </div>
          </div>
          <div class="empresacore__datosbasicos__col__registro">
              <div class="empresacore__datosbasicos__col__registro__lbl">
                  Telefono:
              </div>
              <div class="empresacore__datosbasicos__col__registro__campo">
                  <input type="text" name="telefono" [(ngModel)]="empresa.telefono">
              </div>
          </div>
          <div class="empresacore__datosbasicos__col__registro">
              <div class="empresacore__datosbasicos__col__registro__lbl">
                  Email:
              </div>
              <div class="empresacore__datosbasicos__col__registro__campo">
                  <input type="text" name="email" [(ngModel)]="empresa.email">
              </div>
          </div>
        </div>
        <div class="empresacore__datosbasicos__col">
            <div class="empresacore__datosbasicos__col__registro">
              <div class="empresacore__datosbasicos__col__registro__lbl">
                  Pagina web:
              </div>
              <div class="empresacore__datosbasicos__col__registro__campo">
                  <input type="text" name="web" [(ngModel)]="empresa.web">
              </div>
            </div>
            <div class="empresacore__datosbasicos__col__registro">
              <div class="empresacore__datosbasicos__col__registro__lbl">
                  Identificacion Representante:
              </div>
              <div class="empresacore__datosbasicos__col__registro__campo">
                  <input type="text" name="ideRepresentante" [(ngModel)]="empresa.ideRepresentante">
              </div>
            </div>
            <div class="empresacore__datosbasicos__col__registro">
              <div class="empresacore__datosbasicos__col__registro__lbl">
                  Nombre Representante:
              </div>
              <div class="empresacore__datosbasicos__col__registro__campo">
                  <input type="text" name="representante" [(ngModel)]="empresa.representante">
              </div>
            </div>
            <div class="empresacore__datosbasicos__col__registro">
              <div class="empresacore__datosbasicos__col__registro__lbl">
                  Telefono Representante:
              </div>
              <div class="empresacore__datosbasicos__col__registro__campo">
                  <input type="text" name="telefonoRepresentante" [(ngModel)]="empresa.telefonoRepresentante">
              </div>
            </div>
        </div>
        <div class="empresacore__datosbasicos__col">
            <div class="empresacore__datosbasicos__col__registro">
              <div class="empresacore__datosbasicos__col__registro__lbl">
                  &nbsp;
              </div>
              <div class="empresacore__datosbasicos__col__registro__campo">
                  <button (click)="guardarEmpresa()"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
              </div>
            </div>
        </div>
    </div>
</div>